lib/agent filter=lfs diff=lfs merge=lfs -text
lib/* filter=lfs diff=lfs merge=lfs -text
lib/dogstatsd filter=lfs diff=lfs merge=lfs -text
lib/trace-agent filter=lfs diff=lfs merge=lfs -text
bin/* filter=lfs diff=lfs merge=lfs -text
